/************
colors:
container: #c9f8db
***************/

#container {
/*	padding: 30px;*/
	margin: 30px auto;
	height: 1200px;
	width: 970px;
	background-color: #c9f8db;
}

/* NAV *****************************************/

#nav {
	background-color: #9fc6ad;
	width: 970px;
	height: 200px;
}

.logo, .heading, .nav_left {
	display: inline-block;
	vertical-align: top;
}

.logo {
	height: 100px;
	width: 100px;
	margin: 20px;
	border: 1px solid black;
}


