thead td {
	font-weight: bold;
	padding: 10px;
}
tbody td {
  margin: 10px;
  padding: 10px;
}
.add_question label, textarea {
	display: block;
	margin: 10px;
}
.add_question button {
	margin-top: 10px;
}
