<div>
	See notes page.  I need help on this.
	<div ng-controller='customersController'>
		<h1>Hi</h1>

	 	<div>
			<h1>Edit a Customer</h1>
			{{ display_customer.name }}
			<p><span ng-bind="display_customer.name"></span></p>
			<label>Customer Name:</label>
			<textarea>{{ display_customer.name }}</textarea>
			
		</div>

		<!-- <input type='text' ng-model="newCustomer.name">
		<input ng-click='addCustomer(name)' type='submit' value='add' >
		Search Customers:<input ng-model="filter_name" type='text' placeholder='search name..'>

		<table>
			<thead>
				<td>Customer Name</td>
				<td>Created Date</td>
				<td>Actions</td>
				<td>Orders</td>
			</thead>
			<tbody ng-repeat="customer in customers | filter:filter_name | orderBy:'created_at' ">
				<tr>
					<td><a href="#/edit" ng-click="displayCustomer(customer)"><span ng-bind="customer.name"></span></a></td>
					<td><span ng-bind="customer.created_at | date:'MM/dd/yyyy' "></span></td>
					<td><button> <a href="#/" ng-click="removeCustomer(customer)">delete</a></button></td>
					<td><span ng-bind="customer.orders"></span></td>
				</tr>
			</tbody>
		</table> -->
	</div>
</div>