 <div ng-controller="topicController" >
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
    	<div class="container">	
    		 <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Discussion Board</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#dashboard">Dashboard</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#logout">Logout</a>
                    </li>
                </ul>
            </div>
    	</div> <!-- /.container -->
    </nav> <!-- Navigation -->


    <div class="container header">  <!-- main container -->

         <!-- header -->
        <div class="row">
            <div class="col-lg-12">
                
                <h3>Welcome, {{user_name}}!</h3>
                <div class="col-lg-4 col-lg-offset-5">
                    <div class="form-group">
                        <input class="form-control" placeholder="search">
                    </div>
                 </div>   
                <button><a href="#/dashboard">Search</a></button>
            </div>              
        </div> <!-- row -->

        <!-- dashboard of posts -->
        <div class="row dashboard_table">
            <div class="col-lg-8">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Topic</th>
                                <th>User Name</th>
                                <th>Posts/Comments</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="topic in topics | orderBy:'created_at' | filter: filter_name">
                                <td>{{topic.category}}</td>
                                <td ng-model="filter_name"><a href="#/topic/{{topic._id}}" ng-click="showTopic(topic._id)">{{topic.topic}}</a></td>
                                <td><a href="#">{{topic.user_name}}</a></td>
                                <td>XXX</td>
                                <td><button ng-click="delete(topic._id)"><a href="#/">Delete</a></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- add a new topic -->
        <div ng-controller="topicController" class="row new_topic">
            <div class="col-lg-6">
                <form role="form">
                    <div class="form-group">
                        <label>Topic</label>
                        <textarea ng-model="newTopic.topic" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea ng-model="newTopic.description" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select ng-model="newTopic.category" class="form-control">
                            <option>Ruby on Rails</option>
                            <option>HTML</option>
                            <option>MySQL</option>
                            <option>UX</option>
                        </select>
                    </div>
                    <button ng-click="addTopic(newTopic)" type="submit" class="btn btn-default"><a href="#/dashboard">Submit</a></button>
                </form> <!-- / close form -->
            </div> <!-- / close col-lg -->
        </div> <!-- /row -->

    </div> <!-- /.container -->

</div>



