<h1>About</h1>
<h2>Casey LaRue, Founder</h2>
<img src="./assets/headshot.jpg">
<div class="social_media">
	<ul class="soc">
	    <li><a class="soc-twitter" href="#"></a></li>
	    <li><a class="soc-facebook" href="#"></a></li>
	    <li><a class="soc-linkedin" href="#"></a></li>
	 <!--    <li><a class="soc-google" href="#"></a></li>
	    <li><a class="soc-youtube" href="#"></a></li>
	    <li><a class="soc-soundcloud" href="#"></a></li>
	    <li><a class="soc-email1 soc-icon-last" href="#"></a></li> -->
	</ul>
</div> <!-- end of social media div -->	
<h3 class="bio">Casey is a software engineer from Kentucky who has worked in investment mangement and as a finacial analyst.  When not writing for AnyHuman you can find her cooking, reading, and attending tech and start-up events.</h3>
