<div ng-controller="editController">
	<div class="edit_post">
		<label>Title</label>
		<textarea ng-model="single_post.title" class="post_title"></textarea>

		<label>Content</label>
		<textarea ng-model="single_post.content" class="edit_content"></textarea>
		
		<label>Tags</label>
		<textarea ng-model="single_post.tags"></textarea>

		<label>Categories</label>
		<textarea ng-model="single_post.categories"></textarea>

		<button ng-click="editPost(single_post)"><a href="#/manage">Modify!</a></button>

	</div> <!-- end of post div -->
</div>	<!-- end of div for posts controller -->	