
<div ng-controller="postController">
	<h1>Manage Posts</h1>
	<button><a href="#/admin">Back to Dashboard</a></button>
	<div>
		<table class="manage_posts">
			<thead>
				<td>Title</td>		
				<td>Categories</td>
				<td>Tags</td>
				<td>Post Date</td>
				<td>Updated At</td>
			</thead>
			<tbody>
				<tr ng-repeat="post in posts | orderBy:'created_at' ">
					<td><a href="#/edit_post/{{ post._id }}" ng-click="editPost(post._id)"><span ng-bind="post.title"></span></a></td>
					<td><span ng-bind="post.categories "></span></td>
					<td><span ng-bind="post.tags "></span></td>
					<td><span ng-bind="post.created_at | date: 'MMMM dd yyyy h:mm a' "></span></td>
					<td><span ng-bind="post.created_at | date: 'MMMM dd yyyy h:mm a' "></span></td>
				</tr>
			</tbody>
		</table>
	</div>	
</div>	<!-- end of div for posts controller -->	